.login_page{
    width: 100vw;
    height: 100vh;
    background-color: #05529e;
}

.container{
    width: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.actions button{
    width: 100%;
    margin-bottom: 10px;
}
